<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <title>DummyCache</title>

</head>
<body>
<div class="container">
    <h1>Request cache</h1>
    <div id="mainmenu">
        <a href="calculator">Calculator</a>,
        <a href="cache">Cache</a>
    </div>
    <h2>Last refresh:</h2>
    <div id="lastrefresh" th:text="${datetime}" />
    <h2>Requests:</h2>
    <div id="datacontainer">
        <table  class="table table-striped table-bordered table-condensed">
            <thead><tr><td>ID</td><td>Record</td></tr></thead>
            <tbody id="rows">
            <tr th:each="element : ${data}">
                <td th:text="${element.id}">-</td>
                <td th:text="${element.record}">No Record</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/cache.js"></script>
</body>

</html>