<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <title>DummyCalculator</title>
</head>
<body>

<div class="container">
    <h1>Calculator</h1>
    <div id="mainmenu">
        <a href="calculator">Calculator</a>,
        <a href="cache">Cache</a>
    </div>
    <p>Calculate</p>
    <form >
        <fieldset>
            <input class="resulttrigger" type="text" name="a"  th:value="${a}" />
            <select class="resulttrigger" id="operator" name="operation"  >
                <option value="plus" >+</option>
                <option value="multiply">*</option>
                <option value="magic" title="click button to get new result">☠</option>
            </select>
            <input class="resulttrigger"  type="text" name="b"  th:value="${b}" />
            <input type="submit" value="=" />
            <span class="result text-success" th:text="${result}" >result</span>
        </fieldset>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="js/calculator.js"></script>
</body>

</html>